/* Style for cue markers on the YouTube progress bar */
.cue-marker {
  position: absolute;
  height: 100%;
  width: 5px;
  background-color: red;
  pointer-events: none;
}
/* Synth knob style */
input.looper-knob {
  width: 60px;
  height: 60px;
  transform: rotate(-90deg);
}
